.tierragrieta1{
    border-radius: 40px;
    position: relative;
    width: 34vw;
    height: 60vh;
    left: 130px;
    right: 100px; 
    overflow: hidden;
}


.tierragrieta2{
    border-radius: 40px;
    position:relative;
    width: 34vw;
    height: 60vh;
    left: 57%;
    overflow: hidden;
}