.erosion-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    /* Color de fondo suave */
}

.erosion-card {
    justify-content: center; 
    flex: 1;
    min-width: 250px;
    /* Ancho mínimo para cada contenedor */
    max-width: calc(33.333% - 20px);
    /* Ancho máximo para 3 elementos por fila con espacio entre ellos */
    padding: 20px;
    border: 2px solid #000;
    /* Borde negro */
    border-radius: 8px;
    /* Bordes redondeados */
    background-color: #fff;
    /* Fondo blanco */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

/* Estilos para las secciones */
.info-section {
    margin-bottom: 20px;
    /* Espaciado entre secciones */
}

.section-title {
    
    justify-content: center; 
    font-size: 1.5em;
    /* Tamaño de fuente más grande */
    margin-bottom: 10px;
    /* Espaciado debajo del título */
    color: #333;
    /* Color de texto oscuro */
}

.list-item {
    margin: 5px 0;
    /* Espaciado entre elementos de la lista */
}

/* Estilos para la conclusión */
.summary {
    margin-top: 20px;
    /* Espaciado arriba de la conclusión */
    font-weight: bold;
    /* Negrita para destacar la conclusión */
    text-align: center;
    /* Centrar el texto de conclusión */
}

/* Estilos para las burbujas de fondo */
.background-effects {
    position: relative;
    overflow: hidden;
    /* Ocultar burbujas fuera del contenedor */
}

.floating-bubbles {
    position: absolute;
    bottom: 0;
    /* Alinear burbujas al fondo */
    left: 0;
    right: 0;
    pointer-events: none;
    /* No interactuar con las burbujas */
}

.bubble-animation {
    position: absolute;
    bottom: -100px;
    /* Iniciar fuera de la vista */
    background: rgba(231, 13, 13, 0.7);
    /* Color de burbuja */
    border-radius: 50%;
    animation: bubbleMovement 15s infinite;
    /* Animación de burbujas */
}

@keyframes bubbleMovement {
    0% {
        transform: translateX(0) scale(1);
    }

    100% {
        transform: translateX(calc(50vw - 50%)) translateY(-100vh) scale(0);
    }
}
