/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del contenedor principal */
.container-home {
    color: #000000;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h1{
    margin: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
}





