.App {
  padding: 20px;
  text-align: center;
}

.scroll-box {
  max-height: 200px; /* Ajusta el alto máximo que deseas */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}
