header {
  padding: 1rem; /* Añade un espacio interno de 1 rem (16px por defecto) alrededor del header */
  background-color: #674636; /* Color de fondo marrón oscuro */
  position: fixed; /* Fija el header en su posición, de modo que no se desplace al hacer scroll */
  height: 100vh; /* El header ocupa el 100% de la altura de la ventana */
  width: auto; /* El header ocupa el 100% del ancho de la pantalla */
  top: 0; /* Posiciona el header en la parte superior de la pantalla */
  left: 0; /* Posiciona el header en el lado izquierdo de la pantalla */
  padding-top: 20px; /* Añade un espacio superior de 20px dentro del header */
}

nav ul {
  display: flex; /* Usa Flexbox para alinear los elementos del menú */
  list-style: none; /* Elimina los puntos de lista predeterminados de los elementos <li> */
  flex-direction: column; /* Alinea los elementos de la lista en una columna vertical */
}

nav ul li {
  padding: 15px; /* Añade un espacio interno de 15px alrededor de cada elemento de la lista */
}

nav ul li:last-child {
  margin-right: 0; /* El último elemento no tendrá margen derecho adicional */
}

nav ul li a {
  color: white; /* Establece el color del texto de los enlaces en blanco */
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
  font-size: 18px; /* Establece el tamaño de fuente de los enlaces a 18px */
}

nav ul li a:hover {
  text-decoration: underline; /* Subraya el enlace cuando el usuario pasa el ratón por encima */
  background-color: #a5d1ac; /* Cambia el color de fondo del enlace cuando se hace hover */
  transition: 0.3s; /* Añade una transición suave de 0.3 segundos en el cambio de fondo */
}
